
/******** OVERARCHING HANDLING ********/

nav {
	padding: 0px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

div {
	border-style: dotted;
	border-color: red;
}

ul {
	/*background-color: purple;*/
}

text {
	font-family: Arial;
}

.back-button {
	position: fixed;
	bottom: -.5em;
	left: 0px;
	font-size: 20px;
	font-family: sans-serif;
}

.container {
	position: relative;
	width: 100%;
	overflow: auto;
	border-style: dotted;
	border-color: white;
	/*padding-left: 0px;*/
}

.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}

.wrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.regional {
	width: 30%;
}

.little-heading {
	text-align: center;
	font-size: 12pt;
}

.big-heading {
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
}

body{
	background-color: dimgrey;
	color:white;
}
/********  PANEL ********/

#center-panel {
	width: 600px;
}

svg {
	/*background-color: #535353;*/
}

.person-container {
	background-color: white;
	float: left;
}

.person-fill {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 0;
	width: 300px;
	height: 300px;
	/*background: gray;*/
}

#person-image {
	position: absolute;
	left: 0px;
	left: 0px;
	z-index: 1;
	width: 300px;
	height: 300px;
	border-style: dotted;
}

.back-button {
	position: fixed;
	bottom: -.5em;
	left: 0px;
	font-size: 20px;
	font-family: sans-serif;
}

button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, sans-serif;
	padding: .7em .7em .7em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2)

	color: #C30017;
/*	border: solid 1px #ffffff; /*this gradient looks awful */
	background: #C30017;
/*	background: -webkit-gradient(linear, left top, left bottom, from(#C30017), to(#b43553));
	background: -moz-linear-gradient(top,  #C30017,  #b43553);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#C30017', endColorstr='#b43553');*/
*/
;}
button:hover {
	text-decoration: none;
}
button:active {
	position: relative;
	top: 1px;
}

#context {
	float: left;
	margin-top: 80px;
	width: 340px;
	height: 805px;
	padding-left: 0px;
}

#pie {
	float: left;
	margin-top: 80px;
	width: 805px;
	height: 805px;
	padding: 0px;
	overflow: hidden;
}

#right-panel {
	/*background-color: #969696;*/
	margin-top: 80px;
	width: 400px;
	height: 805px;
	/*height: 90%;*/
	float: right;
}

#reg-comparison{
	height: 80%;
}