<!DOCTYPE html>

<!-- Template Usage Instructions: Make sure to include the scrolling-nav.js, jquery.easing.min.js, and scrolling-nav.css files. To make a link smooth scroll to another section on the page, give the link the .page-scroll class and set the link target to a corresponding ID on the page. -->

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About</title>

    <!-- JS libraries -->
    <script src="scripts/lib/jquery.js"></script>
    <script src="scripts/lib/jquery.easing.min.js"></script>
    <script src="scripts/lib/scrolling-nav.js"></script>
    <script src="scripts/lib/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>


    <!-- CSS libraries-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- STPP CSS -->
<!--     <link rel="stylesheet" type="text/css" href="css/style.css"> -->
    <link href="css/splash.css" rel="stylesheet">


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" class="navbar-brand page-scroll" href="/">Suspended, not Supported: Disability in the School to Prison Pipeline</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="right-navbar" class="nav navbar-nav navbar-right">
                    <!-- Hidden li included to remove active class from hook1 link when scrolled up past hook1 section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/context">Context</a>
                    </li>
                    <li>
                        <a href="#" style='color: #C30017; font-weight: bold;'>About the Data and Other Resources</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Learn More
                    <small>Our Resources</small>
                </h1>
                
                <h2><small>Suspension Rates and School Demographics</small></h2>
                <p>Data regarding school discipline rates and general demographic information per school district was sourced from UCLA's Center for Civil Rights Remedies' <a href="http://www.schooldisciplinedata.org/ccrr/index.php">School Discipline Data project</a>. Data reported from this set are from the 2012 Secondary School District report. Download the complete dataset <a href="http://civilrightsproject.ucla.edu/resources/projects/center-for-civil-rights-remedies/school-to-prison-folder/federal-reports/are-we-closing-the-school-discipline-gap/Are-We-Closing_201112_Secondary.xlsx">here</a>.</p>

                <h2><small>Arrest Rates</small></h2>
                <p>Data regarding juvenile and overall arrest rates was provided by the <a href="http://www.ojjdp.gov/">U.S. Office of Juvenile Justice and Delinquency Prevention</a>. The dataset is not readily downloadable, but is accessible by-county <a href="http://www.ojjdp.gov/ojstatbb/ezaucr/">here</a>. Data reported is from the year 2012.</p>

                <h2><small>Poverty Rates</small></h2>
                <p>Data regarding poverty information is provided by the U.S. Census Bureau's <a href="http://www.census.gov/did/www/saipe/index.html">Small Area Income &amp; Poverty Estimates (SAIPE)</a>. The dataset used for this project was the 2013 School District Estimates. The dataset is available <a href="http://www.census.gov/did/www/saipe/downloads/sd13/USSD13.xls">here</a>. Though SAIPE <a href="http://www.census.gov/did/www/saipe/methods/cautions.html">cautions</a> comparing across districts, it does so mostly for serious statistical hypothesis validation. Its use on this project is appropriate, as it is intended to contextualize regional data.</p>

                <h2><small>Further Reading</small></h2>
                <p>National Council on Disability. <span style="font-style: italic">"Breaking the School-to-Prison Pipeline for Students with Disabilities."</span> 2015. <a href="http://ncd.gov/publications/2015/06182015">http://ncd.gov/publications/2015/06182015"</a>.</p>
                <p>Colorlines. <span style="font-style: italic">"Race, Disability, and the School-to-Prison Pipeline."</span> 2014. <a href="http://www.colorlines.com/articles/race-disability-and-school-prison-pipeline">http://www.colorlines.com/articles/race-disability-and-school-prison-pipeline</a>.</p>
            </div>
        </div>
    </div>

</body>

</html>
