<!DOCTYPE html>

<!-- Template Usage Instructions: Make sure to include the scrolling-nav.js, jquery.easing.min.js, and scrolling-nav.css files. To make a link smooth scroll to another section on the page, give the link the .page-scroll class and set the link target to a corresponding ID on the page. -->

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About</title>

    <!-- JS libraries -->
    <script src="scripts/lib/jquery.js"></script>
    <script src="scripts/lib/jquery.easing.min.js"></script>
    <script src="scripts/lib/scrolling-nav.js"></script>
    <script src="scripts/lib/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>


    <!-- CSS libraries-->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- STPP CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="css/context.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" class="navbar-brand page-scroll" href="/">Suspended, not Supported: Disability in the School to Prison Pipeline</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="right-navbar" class="nav navbar-nav navbar-right">
                    <!-- Hidden li included to remove active class from hook1 link when scrolled up past hook1 section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="#" style='color: #C30017; font-weight: bold;'>Context</a>
                    </li>
                    <li>
                        <a href="/aboutdata">About the Data and Other Resources</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container quotes-container">
        <!-- Text-->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Context
                    <small>Stories from the experts</small>
                </h1>

                <!-- <div class="container slide"> -->
                    <h1 class = "subtitle"> <small> Marginalization compounds, and we all contribute </small></h1>

                    <blockquote class=right>“Multiple marginalization is a... narrative to explain how people can be marginalized by different factors...Those marginalizations can compound, and not just compound one plus one” - Douglas, Author: Disability Criminalization </blockquote>

                    <p class=quote> Students who are part of minorities are often marginalized. Disabled students are put in seperate classrooms and African American students are suspended at a higher rate then their classmates. However when these marginalizations overlap, the students who fall into these segments of the school system are negatively affected.  </p>

                    <p class=quote>"All of us, as people wrestle with [deficit thoughts] in our daily lives….It is...blaming the victim rather looking at the larger barriers or larger structures in place that can hinder a student’s performance." –Erin, PHD: Department of Education </p>

                <!-- </div> -->

                <!-- <div class="container slide"> -->
                    <h1 class = "subtitle"> <small> Teachers don’t have resources in underfunded schools.</small></h1>

                    <blockquote class=left>“[Pockets of low income schools] have higher caseloads with less resources...to address challenging behavior. If I’m a teacher in that district, it’s not because I’m a bad teacher, I don’t have the same resources and experience.” -Carol, PHD: Department of Special Education </blockquote>

                    <p class=quote> Teachers in less affluent school districts are not supported in ways to increase their development as effective teachers. In addition school districts in areas with higher levels of poverty are less likely to be able to hire teachers with large quantities of experience. Often this seems to result in classrooms where it is easier to remove a difficult student then it is to support their needs. </p>

                    <p class=quote>“If you don’t have the right kind of professional support, you have good people that leave… I am a teacher that left. It wasn’t about the students, it was about the policy that failed me.” -Carol, PHD: Department of Special Education</p>

                    <p class=quote>“You have really good people leaving because they’re not successful, or you have people that stay and…retire on the job. You have emotionally checked out. I don’t know which is worse.” -Carol, PHD: Department of Special Education</p>

                    <p class=quote>“I'm working in a school right now, a very affluent area, where in every classroom, there is one teacher and...at least one pair professional...That is a resource in and of itself." –Erin, PHD: Department of Education</p>

                <!-- </div> -->

                <!-- <div class="container slide"> -->
                    <h1 class = "subtitle"> <small> Disabled students are often excluded instead of supported.</small></h1>

                    <blockquote class=right>“Students with disabilities,...when they’re having issues communicating, its just perceived as behavior problems. If we look at it from a different perspective, maybe it should really be our responsibility to engage those students in different ways. I’m not suggesting it’s easy, but that’s one of those things that ought to be done. -Erin, PHD: Department of Education </blockquote>

                    <p class=quote> Disabled students are often pulled from the regular classroom into secluded areas. This hurts their development and most students do not require this exclusion. Often for teachers it is easier to suspend or diagnose a student with a disability than it is to keep the student in the classroom. This is particularly true if the teacher does not have the support or experience required to function with these students who have different needs. These students are punished rather than being supported. </p>

                    <p class=quote>"The first step in the school to prison pipeline is when a teacher perceives a student as disruptive or defiant or having some sort of behavior problem. So the teacher will choose to send that kid out to the office with some kind of exclusionary discipline, suspension, maybe expulsion. –Erin, PHD: Department of Education</p>

                    <p class=quote>“I thought that [the justice system of the united states] was more about rehabilitation but what it has become is about punishment. Our culture has developed into a punishment culture and so we have also these disproportionate levels of suspension of black children in schools.” –Oscar, Education Mentor</p>

                <!-- </div> -->

                <!-- <div class="container slide"> -->
                    <h1 class = "subtitle"> <small> Solutions are hard, but exist.</small></h1>

                    <blockquote class=left>“Parent involvement is one of the most difficult and missing links….Parents have tons of rights, especially with respect to disability, to be very involved.” -Carol, PHD: Department of Special Education </blockquote>

                    <p class=quote> Many solutions have been proposed by experts. It is a difficult space as there are practically no words to even discribe these issues. However, just having these discussions can help the students as these ideas are confronted by students, teachers and other individuals.</p>

                    <p class=quote>“People have focused on the war on poverty... very low income, danger inflicted neighborhoods, lower socioeconomic neighborhoods that may have violence going on in them. Nothing has ever worked except one thing in terms of turning around the likelihood that people succeed....integration.” –Oscar, Education Mentor</p>

                    <p class=quote>"Ms. Adams was a really good teacher at getting students engaged, not sending them to the office, setting high expectations."" -Erin, PHD: Department of Education</p>

                    <p class=quote>"School wide positive behavioral support...looks at building a respective positive school climate at the school level. Policies insure that intervention...is looked at in proactive ways instead of reactive ways."" -Erin, PHD: Department of Education</p>

                <!-- </div> -->

            </div>
        </div>
    </div>

</body>

</html>
