/*Color Scheme:
lightest-gray: ECECEC
light-gray: E4E2E1
dark-gray: 231F20
red: BE1E2D
dark-blue: 03273D
light-blue: 1E88BE*/

.page-content {
	width:100%;
}

/******** CONTEXT PANEL ********/

#context {
	padding-left: 2%;
	padding-right: 0px;
	margin-bottom: 20px;
}

#bg-stats {
	margin-top: 10%;
}
#bg-stats h1{
	text-align: left;
}
#bg-stats h2{
	text-align: left;
}

#detail-text{
	font-size: 20px;	
}

#intro-next {
	cursor: pointer;
}

#context-link {
	margin-top: 30%;
}

#context-spacer {
	margin-top: 20%;
}

/******** BULLSEYE ********/
#title{
	padding-top: 35px;
	text-align: center;
}
#pie-container {
	display: inline-block;
    position: relative;
    width: 100%;
}
#pie-spacer {
	margin-top: 100%;
}
#pie {
	position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
	overflow: visible;
	background-color: none;
}

.back-button {
	position: fixed;
	bottom: -.5em;
	left: 0px;
	font-size: 20px;
	font-family: sans-serif;
}

.arc {
	cursor: pointer;
}


/********  REGIONS PANEL ********/

button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: "open-sans";
	font-size: 12pt;
	padding: .3em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: white;
	background: #1E88BE;
}

button #subtitle {
	font-size: 6pt;
}

button:hover {
	text-decoration: none;
}

button:active {
	position: relative;
	top: 1px;
}

#right-panel {
	background-color: #E4E2E1;
/*	margin-top: 50px;*/
	overflow: hidden;
	padding-top: 35px;
}

#reg-comparison{
	padding: 0px;
	height: 560px;
}

.region {
	cursor: pointer;
}