/*Color Scheme:
lightest-gray: ECECEC
light-gray: E4E2E1
dark-gray: 231F20
red: BE1E2D
dark-blue: 03273D
light-blue: 1E88BE*/


/******** TEXT STYLES ********/

@charset 'UTF-8';

@font-face {
	font-family: 'open-sans';
	src: url('OpenSans-Regular.ttf');
}

text {
	font-family: 'open-sans';
}

h1 {
	color: #BE1E2D;
}

h2, h3, h4, h5, h6{
	color: #03273D;
}

p{
	font-family: 'open-sans';
	color: black;
	font-size: 20px;
}

h1 small{
	color: #231F20;
	padding-bottom: 5px;
	font-weight: bold;
}

h2 small{
	color: #231F20;
	padding-bottom: 5px;
	font-weight: bold;
}

/******** Formatting Helpers ********/
.bold {
	font-weight:bold;
}

.red {
	color:#BE1E2D;
}

.dark-blue {
	color: #03273D;
}

.light-blue {
	color: #1E88BE;

}

/******** OVERARCHING HANDLING ********/

body{
	font-family: 'open-sans';
/*	overflow: hidden;*/
	background-color: #ECECEC;
	margin: 0;
	position: relative;
/*	color: #323232;*/
}

img {
	max-width: 100%;
	max-height: 100%;
}

.container {
	position: relative;
	width: 100%;
	overflow: hidden;
/*	border-style: dotted;
	border-color: purple;*/
}

.page-content{
	position: relative;
/*	width: 80%;*/
	padding-top: 30px;
}

/******** NAVBAR STUFF ********/

.navbar{
    background: #231F20;
}

.navbar .navbar-nav, .navbar .nav > li > a{
    color: #FFFFFF;
    font-size: 20px;
}

.navbar .navbar-nav > li > a:hover, .navbar .nav > li > a:focus{
    color: white;
    font-weight: bold;
}

.navbar .navbar-brand, .navbar .nav .logo > li > a{
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/******** FOR DEBUGGING ONLY ********/
div {
/*	border-style: dotted;
	border-color: green;*/
}